.logo {
  color: var(--main-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--main-text-color);
  }
}

.part-logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-logo {
  color: var(--background-color);
  display: inline-block;

  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-bottom: 20px;

  &:hover,
  &:focus {
    color: var(--background-color);
  }
}
